body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* ============================================================ */
/* ==Loader== */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__items {
  font-family: "Shrikhand", sans-serif;
  display: flex;
  font-size: 50px;
}
.loader__item {
  margin: 2px;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__item--1 {
  color: #9356DC;
}
.loader__item--2 {
  color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  color: #99E2D0;
  animation-delay: 0.5s;
}

/* ==Fin Loader== */
/* ============================================================ */
/* ==Header== */
.header {
  box-shadow: 0px 3px 4px #cecece;
  position: relative;
  height: 55px;
}
.header__logo {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
}

/* ==Fin Header== */
/* ============================================================ */
/* ==Section Local== */
.local {
  background-color: #ececec;
}
.local__text {
  text-align: center;
  padding: 15px 26px 15px 0px;
}
.local__icon {
  margin-right: 10px;
  font-size: 17px;
}
.local__sp {
  font-weight: 500;
}

/* ==Fin Section Local== */
/* ============================================================ */
/* ==Section Explore== */
.explore {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 0px 51px 60px 51px;
}
.explore__header {
  text-align: center;
  margin: auto;
}
.explore__title {
  padding-top: 15px;
}
.explore__p {
  margin-top: -10px;
  font-weight: 300;
}
.explore__btn {
  text-align: center;
  margin-top: 20px;
}
.explore__link {
  border-radius: 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 4px 6px #cecece;
  color: #fff;
  font-size: 15px;
  padding: 12px 16px;
  transition-duration: 0.25s;
}
.explore__link:hover {
  background: linear-gradient(to bottom right, #fd97e0, #aa77e9);
  box-shadow: 0px 6px 8px #b6b6b6;
}

/* ==Fin Section Explore== */
/* ============================================================ */
/* ==Section Fonctionnement== */
.function {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 35px 20px;
}
.function__header {
  margin-top: 22px;
}
.function__text {
  display: flex;
  position: relative;
  border-radius: 15px;
  background-color: #f5f5f5;
  margin: 0px 0px 22px 13px;
  padding: 20px 0px 20px 10px;
  box-shadow: 0px 3px 6px #cecece;
  transition: 0.25s;
}
.function__text:hover {
  background-color: #f6e8fd;
  box-shadow: 0px 5px 8px #c0c0c0;
}
.function__numb {
  position: absolute;
  border-radius: 20px;
  background-color: #9356DC;
  color: #fff;
  font-size: 15px;
  width: 21px;
  height: 19px;
  padding: 2px 0px 0px 0px;
  text-align: center;
  margin-left: -22px;
}
.function__icon {
  color: #979797;
  margin-left: 20px;
}
.function__text:hover .function__icon {
  color: #9356DC;
}
.function__sp {
  font-weight: bold;
  margin-left: 20px;
}

/* ==Fin Section Fonctionnement== */
/* ============================================================ */
/* ==Section Restaurants== */
.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding-top: 30px;
  padding-bottom: 50px;
}
.restaurants__header {
  margin-left: 20px;
}

.arts {
  padding: 0px 20px;
}

.art {
  position: relative;
  display: block;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 2px 6px #cecece;
  margin-bottom: 20px;
}
.art__fig {
  margin: auto;
}
.art__new {
  position: absolute;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #169575;
  font-weight: bold;
  padding: 6px 10px;
  top: 14px;
  right: 15px;
}
.art__img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 65%;
  border-radius: 16px 16px 0px 0px;
}
.art__figcap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px 3px 12px;
}
.art__text {
  margin-top: 12px;
  margin-bottom: 12px;
}
.art__title {
  margin: auto;
  margin-bottom: 4px;
}
.art__p {
  margin: auto;
  font-size: 17px;
}
.art__icon {
  display: flex;
  cursor: pointer;
  font-size: 26px;
}
.art__like2 {
  background-clip: text;
  color: transparent;
  position: absolute;
}
.art__like2:hover {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  animation: animationLike 0.5s;
  transform: scale(1.13);
}

/* ==Fin Section Restaurants== */
/* ============================================================ */
/* ==Footer== */
.footer {
  display: flex;
  background-color: #343434;
}
.footer__logo {
  font-family: "Shrikhand", sans-serif;
  color: #fff;
  font-size: 19px;
  margin-bottom: 10px;
}
.footer__links {
  color: #fff;
  margin-bottom: 10px;
}
.footer__icon {
  margin-right: 10px;
  font-size: 15px;
}

/* ==Fin Footer==*/
/* ============================================================ */
/* ==Header== */
.header--witharrow {
  box-shadow: none;
}
.header__icon {
  position: absolute;
  margin-left: 25px;
  top: 12px;
  font-size: 20px;
}

/* ==Fin Header== */
/* ============================================================ */
/* ==Image== */
.img {
  height: 285px;
  width: 100%;
  object-fit: cover;
}

/* ============================================================ */
/* ==Section Menu== */
.menupage {
  position: relative;
  border-radius: 35px 35px 0px 0px;
  background-color: #f5f5f5;
  margin-top: -55px;
}
.menupage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px 0px 20px;
}
.menupage__title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: 27px;
}
.menupage__icon {
  display: flex;
  cursor: pointer;
  font-size: 26px;
}
.menupage__like2 {
  background-clip: text;
  color: transparent;
  position: absolute;
}
.menupage__like2:hover {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  animation: animationLike 0.5s;
  transform: scale(1.13);
}
.menupage__btn {
  text-align: center;
  padding: 18px 0px 60px 0px;
}
.menupage__link {
  border-radius: 20px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 4px 6px #cecece;
  color: #fff;
  font-size: 15px;
  padding: 12px 52px;
  transition-duration: 0.25s;
}
.menupage__link:hover {
  background: linear-gradient(to bottom right, #fd97e0, #aa77e9);
  box-shadow: 0px 6px 8px #b6b6b6;
}

.menu {
  margin-bottom: 40px;
  padding: 0px 20px;
  /* ==Fin Section Menu== */
  /* ============================================================ */
}
.menu__title {
  font-size: 17px;
  font-weight: 400;
  border-bottom: 3px solid #99E2D0;
  max-width: 45px;
}
.menu__menu {
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 5px #cecece;
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 1.5s;
  animation-fill-mode: both;
}
.menu__text {
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menu__name {
  font-size: 16.85px;
  margin-top: 10px;
  margin-bottom: -10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__p {
  font-size: 15px;
  margin-bottom: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 12px;
  margin-right: 5px;
}
.menu__icon {
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  margin: -16px -58px -16px 16px;
  transition-duration: 0.5s;
}
.menu__menu:hover .menu__icon {
  margin-right: 0px;
}
.menu__check {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 19px;
  transform: rotate(-265deg);
  transition-duration: 0.5s;
}
.menu__menu:hover .menu__check {
  transform: rotate(0);
}

/* ==Loader== */
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* ==Menus Apparitions== */
@keyframes itemAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.1428571429s;
}

.delay-2 {
  animation-delay: 0.2857142857s;
}

.delay-3 {
  animation-delay: 0.4285714286s;
}

.delay-4 {
  animation-delay: 0.5714285714s;
}

.delay-5 {
  animation-delay: 0.7142857143s;
}

.delay-6 {
  animation-delay: 0.8571428571s;
}

.delay-7 {
  animation-delay: 1s;
}

.delay-8 {
  animation-delay: 1.1428571429s;
}

.delay-9 {
  animation-delay: 1.2857142857s;
}

/* ==Like== */
@keyframes animationLike {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
}
@media screen and (min-width: 390px) {
  .explore__title {
    width: 81%;
    margin: auto;
    padding: 35px 0px 14px 0px;
  }
  .explore__p {
    width: 95%;
    margin: auto;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 458px) {
  .explore__title {
    width: 65%;
  }
}
@media screen and (min-width: 486px) {
  .explore__p {
    width: 71%;
  }
}
@media screen and (min-width: 546px) {
  .explore__title {
    width: 53%;
  }
}
@media screen and (min-width: 569px) {
  .explore__title {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  /* ==Section Explore== */
  .explore__link {
    border-radius: 30px;
    padding: 12px 35px;
    font-size: 18px;
  }
  /* ==Section Restaurants== */
  .restaurants__global {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
  }
  .restaurants__header {
    width: 100%;
  }
  .arts {
    width: 44%;
    margin: auto;
  }
  /* ==Footer== */
  .footer__global {
    width: 96%;
  }
  .footer__list {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 40px;
    font-size: 22px;
  }
  .footer__links {
    margin: auto;
    padding-bottom: 40px;
    width: 27%;
  }
}
@media screen and (min-width: 992px) {
  /* ==Section Fonctionnement== */
  .function__global {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto;
  }
  .function__header {
    width: 100%;
  }
  .function__text {
    flex: 1;
    margin: 0 0 0 30px;
  }
  /* ==Section Restaurants== */
  .arts {
    width: 45%;
  }
  /* ==Footer== */
  .footer__links {
    width: 21%;
  }
}
@media screen and (min-width: 768px) {
  /* ==Image== */
  .img {
    height: 285px;
  }
  /* ==Section Menu== */
  .menupage__global {
    width: 90%;
    margin: auto;
  }
  .menupage__btn {
    margin: auto;
    padding: 60px 0px;
  }
  .menupage__link {
    border-radius: 30px;
    padding: 12px 35px;
    font-size: 20px;
  }
  .menu__title {
    font-size: 18px;
  }
  .menu__name {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  /* ==Image== */
  .img {
    height: 500px;
    margin-bottom: -55px;
  }
  /* ==Section Menu== */
  .menupage {
    max-width: 1344px;
    margin: auto;
  }
  .menupage__global {
    width: 95%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
  }
  .menupage__header {
    width: 100%;
  }
  .menu {
    width: 29%;
  }
  .menu__name {
    font-size: 15.73px;
  }
}/*# sourceMappingURL=style.css.map */